 <div id="main" class="page-multimedia">
    <h1 class="title-section">Multimedia</h1>    
    <div class="container video">
        <div class="block-title">
            <h3>Videos</h3>
        </div>
        <div class="content">
            {{ drupal_view('multimedia', 'block_1') }}
            {{ drupal_view('multimedia', 'block_2') }}
            {{ drupal_view('multimedia', 'block_3') }}
        </div>
    </div><!-- /.container -->
    <div class="container infographics">
        <div class="block-title">
            <h3>Infografias</h3>
        </div>
        <div class="content">
            {{ drupal_view('multimedia', 'block_4') }}
            {{ drupal_view('multimedia', 'block_5') }}
            {{ drupal_view('multimedia', 'block_6') }}
        </div>
    </div><!-- /.container -->
    <div class="container podcast">
        <div class="block-title">
            <h3>Podcast</h3>
        </div>
        <div class="content">
            {{ drupal_view('multimedia', 'block_7') }}
            {{ drupal_view('multimedia', 'block_8') }}
            {{ drupal_view('multimedia', 'block_9') }}
        </div>
    </div><!-- /.container -->
    <div class="container microlearning">
        <div class="block-title">
            <h3>Microlearning</h3>
        </div>
        <div class="content">
            {{ drupal_view('multimedia', 'block_10') }}
            {{ drupal_view('multimedia', 'block_11') }}
            {{ drupal_view('multimedia', 'block_12') }}
        </div>
    </div><!-- /.container -->
</div>