{% set id %}  
    {{ fields.nid.content }}
{% endset %}
<div class="item-news more-shared home">
    <div class="picture">
        <div class="count">1</div>
        <figure>{{ fields.field_image.content }}</figure>
    </div>
    <div class="text">
        <div {% set nid = row._entity.nid.value %} class="save {% if  nid in user.node_saved['split'] %}saved{% else %}no{% endif %}" data-id="{{ nid }}" data-session="{% if user.id != 0 %}authentificate{% else %}anonime{% endif %}">
            <a href="#" class="node_saved">Guardar</a>
        </div>
        <span class="category">{{ fields.field_categoria.content }}</span>
        <h3 class="title">{{ fields.title.content }}</h3>
        <p class="sumary">{{ fields.body.content }}</p>
        <div class="info">
            <span class="cont"> <i class="reader"></i> <span class="data-nid-{{ nid }}"></span>&nbsp<span>{{ 'Shared'|t }}</span> </span>
            <date>{{ fields.created.content }}</date>
        </div>
        <div class="explorer">{{ fields.nothing_1.content }}</div>
    </div>
</div>