<div class="item-news more-read home">
    <div class="picture">
        <div class="count">1</div>
        <figure>{{ fields.field_image.content }}</figure>
    </div>
    <div class="text">
        <h3 class="title">{{ fields.title.content }}</h3>
        <p class="sumary">{{ fields.body.content }}</p>
        <div class="info">
            <span class="cont"> <i class="reader"></i> {{ fields.totalcount.content }} {{ 'Lecturas' }}</span>
            <date>{{ fields.created.content }}</date>
        </div>
        <div class="explorer">{{ fields.nothing_1.content }}</div>
    </div>
</div>