<footer id="footer">
  <div class="container">    
    <div class="footer-region info">
        <figure class="logo">
            <img src="/{{ directory }}/images/logo-blanco.svg" alt="Global Rheumatology" width="200" height="200" />
        </figure>
        <p class="description">
            Es un órgano de divulgación de la Liga Panamericana de Asociaciones de Reumatología (PANLAR). 
        </p>

        <div class="contact">
            <span>{{"Contact Us"|t}}:</span>
            <a href="mailto:info@globalrheumpanlar.org">info@globalrheumpanlar.org</a>
        </div>

        <div class="social">
            <nav class="networks">
                <ul>
                  <li class="fb">Facebook</li>
                  <li class="tw">Twitter</li>
                  <li class="lk">Linkedin</li>
                </ul>
            </nav>       
        </div>
        
    </div>
    <div class="footer-region links">
        {% set items = simplify_menu('menu-footer') %}
        <ul class="sections">
            {% if logged_in != true %}
                <li class=" navigation__item">
                    <a href="/user/login" class="">{{"Log in"|t}}</a>
                </li>
            {% endif %}

            {% if logged_in %}
                <li class=" navigation__item">
                    <a href="/new/send/manuscrito" class="">{{"Publish"|t}}</a>
                </li>
                <li class=" navigation__item">
                    <a href="/show/saved/content" class="">{{"Saved Items"|t}}</a>
                </li>
            {% endif %}
            {% for menu_item in items.menu_tree %}
                <li class="{{ item_class }} navigation_item">
                    <a href="{{ menu_item.url }}" class="{{ link_class }}">{{ menu_item.text }}</a>
                </li>
            {% endfor %}
        </ul>
        <a href="#" class="privacy">{{"privacy Policy"|t}}</a>
    </div>
    <div class="footer-region newsletter">
      <div>
        <button>
            {% if logged_in %}
                <a href="/new/type/manuscrito">{{"Submit an article"|t }}</a>
            {% else %}
                <a href="/user/login?destination=/">{{"Sign in"|t }}</a>
            {% endif %}
        </button>
      </div>
    </div>    
    <div class="footer-region copy">
      <figure class="logo-iv">
        <img src="/{{ directory }}/images/inteligencia-viral.webp" alt="Global Rheumatology" width="200" height="200" />
      </figure>
      <p class="copy-text">{{"Design & development by Viral Intelligence"|t }} <br> &copy;2019 Global Rheumatology by Panlar.</p>
    </div>
  </div>
  <nav id="menu-fixed" class="mobile">
      <a class="icon home" href="/">{{"Home"|t }}</a>
      <a class="icon search" href="/search/content/by/type">{{"search"|t }}</a>
      <a class="icon multimedia" href="/secciones/26/multimedia">{{"Multimedia"|t }}</a>
      <a class="icon save" href="/user/login?destination=/show/saved/content">{{"Saved"|t }}</a>
      <a class="icon perfil" href="/user">{{"Profile"|t }}</a>
  </nav>
</footer>