<div class="item-news more-read">
    <div class="picture">
        <figure class="video">{{ fields.field_image.content }}</figure>
    </div>
    <div class="category">{{ fields.field_categoria.content }}</div>
    <h3 class="title">{{ fields.title.content }}</h3>
    <p class="sumary">{{ fields.body.content }}</p>
    <div class="info">
        <span class="author">{{ fields.field_nombre.content }}</span>
        <date>{{ fields.created.content }}</date>
    </div>
    <div class="explorer">{{ fields.nothing.content }}</div>
</div>