<h4 {{ attributes.addClass(classes) }} class="title-ref">{{ content.field_titulo_referencia }}</h4>
<div class="refence_item">
    <ol class="reference__authors_list">{{ content.field_autores }}</ol>
    <span class="reference__authors_list_suffix">{{ content.field_sufijo_referencia }}</span>
</div>
<div class="reference__origin"><i>{{ content.field_origen_referencia }}</i></div>
<div class="doi">{{ content.field_url_referencia }}</div>
