<script>
    var id = {{ node.nid.value }};
    var type = "{{ node.getType }}";
    $(".tabs.primary li a").eq(1).attr('href', '/update/' + type.replace("manuscrito_","") +'/'+ id );
</script>
{% set classes = ['node'] %}

<article {{ attributes.addClass(classes) }}>
    <!-- ______________________ ACTION _______________________ -->
    {{ drupal_block('global_rehumatology_actions', {'node' : node.id }) }}
    <!-- ____________________ END ACTION ____________________ -->
    <div id="main" class="despliegue-nodo">
        <div class="container two-col">
            <div class="left" style="background-image: url('{{ file_url(node.field_image.entity.uri.value) }}');background-repeat: no-repeat">
                <div class="box">

                    <h1 {{ attributes }}>{{ node.title.value }}</h1>
                    
                    <div class="revision">                        
                        <div class="item-news manuscrito">
                            <div class="text">
                                {% if node.status.value != 0 %}
                                    <div class="block last-mod">
                                        {% if node.created is not empty  %}
                                            <label>{{ "Received"| t }}:</label>
                                            <span class="date">{{ node.created.value|date('U')|format_date('global') }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="block last-mod">
                                        {% if node.field_fecha_aceptacion is not empty  %}
                                            <label>{{ "acceptance"| t }}:</label>
                                            <span class="date">{{ node.field_fecha_aceptacion.value|date('U')|format_date('global') }}</span>
                                        {% endif %}
                                    </div>
                                    <div class="block last-mod">
                                        {% if node.field_fecha_publicacion_oficial is not empty  %}
                                            <label>{{ "Published"|t }}:</label>
                                            <span class="date">{{ node.field_fecha_publicacion_oficial.value|date('U')|format_date('global') }}</span>
                                        {% endif %}
                                    </div>
                                    {% if node.field_doi_articulo is not empty  %}
                                        <div class="block last-mod">
                                            <label>{{ "DOI"|t }}:</label>
                                            <span class="date"><a target="_blank" style="color: white;" href="{{ node.field_doi_articulo.value }}">{{ node.field_doi_articulo.value }}</a></span>
                                        </div>
                                    {% endif %}
                                {% endif %}

                                {% if node.status.value == 0 %}
                                    <div class="block last-mod">
                                        <label>{{ "Created"|t }}:</label>
                                        <span class="date">{{ content.created.value|date('U')|format_date('global') }}</span>
                                    </div>
                                    <div class="block last-mod">
                                        <label>{{ "Last modification"|t }}:</label>
                                        <span class="date">{{ content.changed.value|date('U')|format_date('global') }}</span>
                                    </div>
                                    <div class="block status">
                                        <label>{{ "Actual state"|t }}:</label>
                                        <span>{{ content.field_estado_del_articulo[0]['#title'] }}</span>
                                    </div>
                                {%else%}
                                    {% set nombre %} {{ drupal_field('field_nombre', 'user', node.getOwnerId()) }}  {% endset %}
                                    {% set apellidos %} {{ drupal_field('field_apellidos', 'user', node.getOwnerId()) }} {% endset %}
                                    {% set afiliacion %} {{ drupal_field('field_afiliacion', 'user', node.getOwnerId()) }} {% endset %}
                                    <div class="block status">
                                        <label>{{ "For"|t }}:</label>
                                        <span><b>{{ nombre|striptags|trim }} {{ apellidos|striptags|trim }}</b> <br>{{ afiliacion|striptags|trim }}</span>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="tags">
                        {% if content.field_tags[0] %}
                        <label>{{ "Key words"|t}}</label>
                        <ul>
                            {% for key, item in content.field_tags if key|first != '#' %}
                            <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %} 
                    </div> 

                    {% if node.status.value == 0 %}
                        {% if node.field_copia_articulo.value %}
                            <div class="tablas">
                                <label> {{ "Copy of the article"|t }} </label> 
                                {% set doc = node.field_copia_articulo.entity.getFilename|split('.') %}
                                <div class="ico">
                                    <a href="{{ file_url(node.field_copia_articulo.entity.fileuri) }}" class="link" download title="{{ doc[0] }}">
                                        <div class="file {{  doc[1] }}"></div>
                                        <div class="title">
                                            <h3>{{ 'Download'|t }}</h3>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        {% endif %} 
                    {% endif %} 

                    {% if node.status.value == 1 %}
                        {% if node.field_articulo_pdf %}
                            <div class="tablas">
                                <label> {{ "Article in pdf"|t }} </label> 
                                {% set doc = node.field_articulo_pdf.entity.getFilename|split('.') %}
                                <div class="ico">
                                    <a href="{{ file_url(node.field_articulo_pdf.entity.fileuri) }}" class="link" download title="{{ doc[0] }}">
                                        <div class="file {{  doc[1] }}"></div>
                                        <div class="title">
                                            <h3>
                                                {% if content.field_fuente %}
                                                    {{ content.field_titulo_anexo }}
                                                {% else %}
                                                    {{ doc[0]|slice(0, 13) }}...
                                                {% endif %}
                                            </h3>
                                        </div>
                                        
                                    </a>
                                </div>
                            </div>
                        {% endif %} 
                    {% endif %} 

                    {% if node.field_anexos %}
                        <div class="tablas">
                            <label> {{ "Annexes"|t }} </label> 
                            {% for item in node.field_anexos %}
                                {{ drupal_entity('paragraph', item.target_id) }}
                            {% endfor %}
                        </div>
                    {% endif %} 

                    {% if node.status.value == 0 %}
                        {% if node.field_correcciones %}
                            <div class="tablas">
                                <label> {{ "Corrections in pdf"|t }} </label> 
                                {% for item in node.field_correcciones %}
                                    {{ drupal_entity('paragraph', item.target_id) }}
                                {% endfor %}
                            </div>
                        {% endif %} 
                    {% endif %} 

                    <div class="statistics">
                        <label>{{ "statistics"|t }}</label>
                        <div class="item views">
                        <i class="icon icon-views">{{ "Views" | t }}</i>
                        <span><b>{{ node_stats }}</b>{{ "Views" | t }}</span>
                        </div>
                    </div>

                    {% if node.status.value == 1 %}
                    <div class="shared">
                        <label>{{ "Share"|t }}</label>          

                        <div class="a2a_kit a2a_default_style">
                            <a class="a2a_button_facebook">
                                <img src="\themes\custom\basic\images\redes-facebook.svg" border="0" alt="Facebook" width="27" height="27">
                            </a>
                            <a class="a2a_button_whatsapp">
                                <img src="\themes\custom\basic\images\redes-whatsapp.svg" border="0" alt="Twitter" width="27" height="27">
                            </a>
                            <a class="a2a_button_twitter">
                                <img src="\themes\custom\basic\images\redes-twitter.svg" border="0" alt="Twitter" width="27" height="27">
                            </a>
                            <a class="a2a_button_linkedin">
                                <img src="\themes\custom\basic\images\redes-linkedin.svg" border="0" alt="Share" width="27" height="27">
                            </a>
                            {{ drupal_block('block_printfriendly') }}
                        </div>
                    </div>
                    {% endif %} 

                </div>
            </div>

            <div class="right">
                <div class="content article">
                    <div class="title large">
                        <h2>{{ node.field_titulo_ingles.value }}</h2> 
                    </div>

                    <div class="block abstract">
                        <div class="title-block">
                            <h2>{{ "Summary"|t }}</h2>
                            <button class="btn-show-text" data-id="abstract">{{ "Close"|t }}</button>
                        </div> 
                        <div class="box active">
                            {{ content.field_resumen_abstract }}  
                        </div>
                    </div>    

                    {% if node.field_mensajes_clave.value %}
                        <div class="block mensaje">
                            <div class="title-block">
                                <h2>{{ "Key Messages"|t }}</h2>
                                <button class="btn-show-text" data-id="mensaje">{{ "Close"|t }}</button>
                            </div> 
                            <div class="box active">
                                <p>{{ node.field_mensajes_clave.value|raw }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if node.agradecimientos.value %}
                        <div class="block agradecimiento">
                            <div class="title-block">
                                <h2>{{ "Gratitude"|t }}</h2>
                                <button class="btn-show-text" data-id="agradecimiento">{{ "Close"|t }}</button>
                            </div> 
                            <div class="box active">
                                <p>{{ node.agradecimientos.value|raw }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if node.field_conflicto_interes.value %}
                        <div class="block conflic">
                            <div class="title-block">
                                <h2>{{ "Interest conflict"|t }}</h2>
                                <button class="btn-show-text" data-id="conflic">{{ "Close"|t }}</button>
                            </div>
                            <div class="box active">
                                <p>{{ node.field_conflicto_interes.value|raw }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if node.field_financiacion.value %}
                        <div class="block finan">
                            <div class="title-block">
                                <h2>{{ "Financing"|t }}</h2>
                                <button class="btn-show-text" data-id="finan">{{ "Close"|t }}</button>
                            </div>
                            <div class="box active">
                                <p>{{ node.field_financiacion.value|raw }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if node.field_introduccion.value %}
                        <div class="block introduccion">
                            <div class="title-block">
                                <h2>{{ "Introduction"|t }}</h2>
                                <button class="btn-show-text" data-id="introduccion">{{ "Close"|t }}</button>
                            </div> 
                            <div class="box active">
                                <p>{{ node.field_introduccion.value|raw }}</p>
                            </div>
                        </div>
                    {% endif %}

                    {% if node.field_conclusion.value %}    
                        <div class="block conclusion">
                            <div class="title-block">
                                <h2>{{ "Discussions and conclusions"|t }}</h2>
                                <button class="btn-show-text" data-id="conclusion">{{ "Close"|t }}</button>
                            </div>
                            <div class="box active">
                                <p>{{ node.field_conclusion.value|raw }}</p>
                            </div>
                        </div>
                    {% endif %}                    

                    <div class="block referencias">
                        <div class="title-block">
                            <h2>{{ "References"|t }}</h2>
                            <button class="btn-show-text" data-id="referencias">{{ "Close"|t }}</button>
                        </div>
                        <div class="box active">
                            {{ node.field_referencia.value|raw }}
                        </div>
                    </div>

                </div>
            </div>
        </div>

       
        <!--<div class="container">
            <div class="news infinite-contents manuscrito">
                {% set array = [user.id,node.nid.value] %}
                <div class="block-title">
                    <h3>{{ "My manuscripts"|t }}</h3>
                </div>
                {# drupal_view('manuscritos', 'block_2',user.id) #}
            </div>
        </div>-->
    </div>
    <!-- /#main -->
</article>
<!-- /.node -->