
{% set classes = ['node'] %}

<article{{ attributes.addClass(classes) }}>
  <div id="main">
    <div class="container two-col">
      <div class="left"  style="background-image: url('{{ file_url(node.field_image.entity.uri.value) }}');background-repeat: no-repeat">
        <div class="box">
          <div class="top">
            {{ content.field_categoria }}
            <div class="buttons">
              <div class="sound active">Escuchar</div> 
              <div class="control-audio">
                <div class="pause active">Pause</div> 
                <div class="play">Play</div> 
                <div class="stop">Stop</div> 
              </div>          
              <div {% set nid = node.id %} class="node_save {% if nid in nodo_saved['split'] %}saved{% endif %}" data-id="{{ nid }}" data-session="{% if user.id != 0 %}authentificate{% else %}anonime{% endif %}"></div>
            </div>
          </div>        
        
          <h1 {{ attributes }}>
            {{ node.title.value }}
          </h1>

          <div class="info article">
              {% set nombre %} {{ drupal_field('field_nombre', 'user', node.getOwnerId()) }}  {% endset %}
              {% set apellidos %} {{ drupal_field('field_apellidos', 'user', node.getOwnerId()) }} {% endset %}
              {% set afiliacion %} {{ drupal_field('field_afiliacion', 'user', node.getOwnerId()) }} {% endset %}
              <div>
                 <span>{{ "For"|t }} <b>{{ nombre|striptags|trim }} {{ apellidos|striptags|trim }}</b> <br>{{ afiliacion|striptags|trim }}</span>
              </div>
              <br>
              <div>
                <date>{{ node.created.value|date('U')|format_date('global') }}</date>
              </div>
              <br>
          </div>
          
          {% if node.field_doi_articulo is not empty  %}
              <div class="block last-mod">
                  <label>{{ "DOI"|t }}:</label>
                  <span class="date"><a target="_blank" style="color: white;" href="{{ node.field_doi_articulo.value }}">{{ node.field_doi_articulo.value }}</a></span>
              </div>
          {% endif %}

          <div class="read article">
            <p class="why">"{{ node.field_porque_leer.value }}"</p>
          </div>

          <div class="statistics">
              <label>{{ "statistics"|t }}</label>
            <div class="item views">
              <i class="icon icon-views">{{ "Views" | t }}</i>
              <span><b>{{ node_stats }}</b>{{ "Views" | t }}</span>
            </div>
            <!--<div class="item shareds">
              <i class="icon icon-shared">{{ "Shared"|t }}</i>
              <span><b>1,909</b>{{ "Shared"|t }}</span>
            </div>-->
          </div>

          <div class="tags">
            {% if content.field_tags[0] %}
              <label>Tags</label>
              <ul>
                {% for key, item in content.field_tags if key|first != '#' %}
                <li>{{ item }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>

          <div class="shared">
            <label>{{ "Share"|t }}</label>          

            <div class="a2a_kit a2a_default_style">
                <a class="a2a_button_facebook">
                    <img src="\themes\custom\basic\images\redes-facebook.svg" border="0" alt="Facebook" width="27" height="27">
                </a>
                <a class="a2a_button_whatsapp">
                    <img src="\themes\custom\basic\images\redes-whatsapp.svg" border="0" alt="Twitter" width="27" height="27">
                </a>
                <a class="a2a_button_twitter">
                    <img src="\themes\custom\basic\images\redes-twitter.svg" border="0" alt="Twitter" width="27" height="27">
                </a>
                <a class="a2a_button_linkedin">
                    <img src="\themes\custom\basic\images\redes-linkedin.svg" border="0" alt="Share" width="27" height="27">
                </a>
                {{ drupal_block('block_printfriendly') }}
            </div>
          </div>

            
          {% if node.field_incluir_enlace.value == "si" %}
            <div class="item-news article-node"> 
              <div class="text">
                <div class="explorer">
                  <a href="{{ node.field_enlace_redireccion.uri }}" target="_blank" >{{ node.field_enlace_redireccion.title }}</a>
                </div>
              </div>              
            </div>
          {% endif %}
        </div>
        

      </div>
      
      <div class="right">
        <div class="content article">
          <div class="summary">
            <p>{{ node.body.summary }}</p>
          </div>
          <div class="article__body">
            {{ node.body.value|raw }}
          </div>
        </div>
      </div>
    
    </div><!-- /.container -->
    <div class="container">
        <div class="news related last_news"> 
            <div class="block-title">
                <h3>{{ "Related posts"|t }}</h3>
            </div>
            <dd>{{ drupal_view('articulos', 'block_1') }}</dd>
        </div>
    </div><!-- /.container -->
  </div><!-- /#main -->
</article><!-- /.node -->