{% set classes = ['node'] %}

<article {{ attributes.addClass(classes) }}>
  <div class="block-manuscrito">
    <div class="tabs" style="text-align: center">
      <span>{{ "Avaliable Actions"|t }}</span>
      <ul class="tabs primary">
          <li class="tabs__tab tabs__tab--active"><a href="" class="is-active">{{ "Comment for author"|t }}</a></li>
          <li class="tabs__tab"><a href="{{ path('entity.node.canonical', {'node': node.field_articulo_en_revision.target_id}) }}">{{ "Return to article"|t }}</a></li>
      </ul>
    </div>
  </div>
  
  <div id="main">
    <div class="container two-col">
      <div class="left"  style="background-image: url('{{ file_url(node.field_image.entity.uri.value) }}');background-repeat: no-repeat">
        <div class="box">
          <h1 {{ attributes }}>
            {{ "Comment id"|t }} : {{ node.title.value }}
          </h1>
          
          <div class="info article">
              <br>
              <div>
                <date>{{ content.created.value|date('U')|format_date('global') }}</date>
              </div>
              <br>
          </div>

        </div>
        

      </div>
      
      <div class="right">
        <div class="content article">
          <h3> {{ "Comment detail for article"|t }} : <a href="{{ path('entity.node.canonical', {'node': node.field_articulo_en_revision.target_id}) }}">{{ drupal_field('title', 'node', node.field_articulo_en_revision.target_id) }}</a></h3>
          
          <div class="article__body">
            <a style="text-decoration: underline;" href="{{ path('entity.node.canonical', {'node': node.field_articulo_en_revision.target_id}) }}"> {{ "Go to article"|t }} </a>
            <br><br>
          </div>
          
          <div class="article__body">
            {{ "Comment"|t }} : <br>
            {{ node.field_comentarios.value|raw }}
          </div>
        </div>
      </div>
    
    </div><!-- /.container -->
  </div><!-- /#main -->
</article><!-- /.node -->
