{% set classes = ['node'] %}

<article {{ attributes.addClass(classes) }}>
  <div id="main">
    <div class="container two-col">
      <div class="left"  style="background-image: url('{{ file_url(node.field_image.entity.uri.value) }}');background-repeat: no-repeat">
        <div class="box">
          <h1 {{ attributes }}>
            {{ 'Id de la revisión'|t }} : {{ node.title.value }}
          </h1>
          
          <div class="info article">
              <br>
              <div>
                <date>{{ content.created.value|date('U')|format_date('global') }}</date>
              </div>
              <br>
          </div>

        </div>
        

      </div>
      
      <div class="right">
        <div class="content article">
          <h3> {{ 'Detalle de la revisión del artículo'|t }} : {{ drupal_field('title', 'node', node.field_articulo_en_revision.target_id) }} </h3>
          
          <div class="article__body">
            <a style="text-decoration: underline;" href="{{ path('entity.node.canonical', {'node': node.field_articulo_en_revision.target_id}) }}"> {{ 'Ir al artículo'|t }} </a>
            <br><br>
          </div>
          
          <div class="article__body">
            {{ 'Calificación'|t }} : <br>
            <ul>
                <li>
                    {% set pregunta_1 = node.field_pregunta_1.value|raw %}
                    {{ '¿Qué tan original le parece el manuscrito asignado?'|t }} : {{ pregunta_1 }}
                </li>
                <li>
                    {% set pregunta_2 = node.field_pregunta_2.value|raw %}
                    {{ '¿Qué tan relevante es la información presentada en este manuscrito?'|t }} : {{ pregunta_2 }}
                </li>
                <li>
                    {% set pregunta_3 = node.field_pregunta_3.value|raw %}
                    {{ '¿Qué tan bien estructurada le parece la información presentada?'|t }} : {{ pregunta_3 }}
                </li>
                <li>
                    {% set pregunta_4 = node.field_pregunta_4.value|raw %}
                    {{ '¿Qué tan bien presentado está el contenido del manuscrito?'|t }} : {{ pregunta_4 }}
                </li>
                <li>
                    {% set pregunta_5 = node.field_pregunta_5.value|raw %}
                    {{ '¿Qué tan claro es el mensaje que deja el manuscrito?'|t }} : {{ pregunta_5 }}
                </li>
                <li>
                    {{ 'Promedio de la calificación'|t }} : {{  (pregunta_1 + pregunta_2 +pregunta_3 + pregunta_4 + pregunta_5)/5 }}
                </li>
                <li>
                    {% set field_decision_revisor = content.field_decision_revisor['#items'].getString() %}
                    {{ 'Decisión'|t }} : {{ content.field_decision_revisor[0] }}
                </li>
                <li>
                  {{ 'Comentario'|t }} : {{ node.field_comentarios.value|raw }}
                </li>
            </ul>
             
          </div>
        </div>
      </div>
    
    </div><!-- /.container -->
  </div><!-- /#main -->
</article><!-- /.node -->
