<article {{ attributes.addClass(classes) }}>
    <div id="main" class="despliegue-nodo">
        <div id="node-video" class="container contenido-nodo">
            <div class="left background-image" style="background-image: url('{{ file_url(node.field_image.entity.uri.value) }}');background-repeat: no-repeat">
                <div class="box">
                    <div class="top">
                        <div class="section">
                            {{ content.field_categoria }}
                        </div>
                        <div class="buttons">
                            <div {% set nid=node.id %} class="node_save {% if nid in nodo_saved['split'] %}saved{% endif %}" data-id="{{ nid }}" data-session="{% if user.id != 0 %}authentificate{% else %}anonime{% endif %}"></div>
                        </div>
                    </div>

                    <h1 {{ attributes }}> {{ node.title.value }} </h1>

                    <div class="info article">
                        {% set nombre %} {{ drupal_field('field_nombre', 'user', node.getOwnerId()) }}  {% endset %}
                        {% set apellidos %} {{ drupal_field('field_apellidos', 'user', node.getOwnerId()) }} {% endset %}
                        {% set afiliacion %} {{ drupal_field('field_afiliacion', 'user', node.getOwnerId()) }} {% endset %}
                        <div>
                            <span class="author">{{"For"|t }} <b>{{ nombre|striptags|trim }} {{ apellidos|striptags|trim }}</b> {{ afiliacion|striptags|trim }}</span>
                        </div>
                    </div>

                    <div class="info article">
                        <date>{{ node.created.value|date('U')|format_date('global') }}</date>
                    </div>

                    <div class="statistics">
                        <label>{{"statistics"|t }}</label>
                        <div class="item views">
                            <i class="icon icon-views">{{ "views" | t }}</i>
                            <span><b>{{ node_stats }}</b>{{ "views"| t }}</span>
                        </div>
                    </div>

                    <div class="tags">
                        <label>Tags</label> {% if content.field_tags[0] %}
                        <ul>
                            {% for key, item in content.field_tags if key|first != '#' %}
                            <li>{{ item }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>

                    <div class="shared">
                        <label>{{ "Shared"| t }}</label>
                        <div class="a2a_kit a2a_default_style">
                            <a class="a2a_button_facebook">
                                <img src="\themes\custom\basic\images\redes-facebook.svg" border="0" alt="Facebook" width="27" height="27">
                            </a>
                            <a class="a2a_button_whatsapp">
                                <img src="\themes\custom\basic\images\redes-whatsapp.svg" border="0" alt="Twitter" width="27" height="27">
                            </a>
                            <a class="a2a_button_twitter">
                                <img src="\themes\custom\basic\images\redes-twitter.svg" border="0" alt="Twitter" width="27" height="27">
                            </a>
                            <a class="a2a_button_linkedin">
                                <img src="\themes\custom\basic\images\redes-linkedin.svg" border="0" alt="Share" width="27" height="27">
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="right">
                <div class="content article">
                    {% if node.field_tipo_video.value == 'youtube' %}
                        <figure class="player_video">
                            <iframe width="560" height="315" src="https://www.youtube.com/embed/{{ node.field_video_youtube.value }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                        </figure>
                    {% else %}
                        <figure class="player_video">
                            {{ node.field_embebido.value|raw }}
                        </figure>
                    {% endif %}

                    <div class="summary">
                        <p>{{ node.body.summary }}</p>
                    </div>

                    <div class="article__body">
                        {{ node.body.value|raw }}
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="news infinite-contents videos">
                <div class="block-title">
                    <h3>{{ "More videos"| t }}</h3>
                </div>
                {{ drupal_view('video', 'block_2',node.nid.value) }}
            </div>
        </div>
    </div>
</article>