
{% set classes = ['node'] %}

<article {{ attributes.addClass(classes) }}>
  <div id="main">
    <div class="container two-col">
      <div class="left"  style="background-image: url('{{ file_url(node.field_image.entity.uri.value) }}');background-repeat: no-repeat">
        <div class="box">
          <div class="top">
            {{ content.field_categoria }}
            <div class="buttons">
              <div class="sound active">Escuchar</div> 
              <div class="control-audio">
                <div class="pause active">Pause</div> 
                <div class="play">Play</div> 
                <div class="stop">Stop</div> 
              </div>              
              <div {% set nid = node.id %} class="node_save {% if nid in nodo_saved['split'] %}saved{% endif %}" data-id="{{ nid }}" data-session="{% if user.id != 0 %}authentificate{% else %}anonime{% endif %}"></div>
            </div>
          </div>        
          
          <h1 {{ attributes }}>
            {{ node.field_titulo_corto.value }}
          </h1>
         
          <div class="info article">
              {% set nombre %} {{ drupal_field('field_nombre', 'user', node.getOwnerId()) }}  {% endset %}
              {% set apellidos %} {{ drupal_field('field_apellidos', 'user', node.getOwnerId()) }} {% endset %}
              {% set afiliacion %} {{ drupal_field('field_afiliacion', 'user', node.getOwnerId()) }} {% endset %}
              <div>
                 <span class="author">Por: <b>{{ nombre|striptags|trim }} {{ apellidos|striptags|trim }}</b> {{ afiliacion|striptags|trim }}</span>
              </div>
          </div>

          <div class="info article">
            <date>{{ node.created.value|date('U')|format_date('global') }}</date>
          </div>

          {% if node.field_doi_articulo is not empty  %}
              <div class="block last-mod info article">
                  <label>{{ "DOI"|t }}:</label>
                  <span class="date"><a target="_blank" style="color: white;" href="{{ node.field_doi_articulo.value }}">{{ node.field_doi_articulo.value }}</a></span>
              </div>
          {% endif %}

          <div class="statistics">
              <label> {{ "statistics"|t }}</label>
            <div class="item views">
              <i class="icon icon-views">{{ 'Vistas' | t }}</i>
              <span><b>{{ node_stats }}</b>{{ 'Vistas' | t }}</span>
            </div>
            <!--<div class="item shareds">
              <i class="icon icon-shared"> {{ "Shared"|t }}</i>
              <span><b>1,909</b> {{ "Shared"|t }}</span>
            </div>-->
          </div>

          <div class="tags">
            {% if content.field_tags[0] %}
              <label>Tags</label>
              <ul>
                {% for key, item in content.field_tags if key|first != '#' %}
                <li>{{ item }}</li>
                {% endfor %}
              </ul>
            {% endif %}
          </div>

          <div class="shared">
            <label>Share</label> 
            <div class="a2a_kit a2a_default_style">
                <a class="a2a_button_facebook">
                    <img src="\themes\custom\basic\images\redes-facebook.svg" border="0" alt="Facebook" width="27" height="27">
                </a>
                <a class="a2a_button_whatsapp">
                    <img src="\themes\custom\basic\images\redes-whatsapp.svg" border="0" alt="Twitter" width="27" height="27">
                </a>
                <a class="a2a_button_twitter">
                    <img src="\themes\custom\basic\images\redes-twitter.svg" border="0" alt="Twitter" width="27" height="27">
                </a>
                <a class="a2a_button_linkedin">
                    <img src="\themes\custom\basic\images\redes-linkedin.svg" border="0" alt="Share" width="27" height="27">
                </a>
                {{ drupal_block('block_printfriendly') }}
            </div>
          </div>

          <div class="tablas">
            <label> {{ "downloads"|t }}</label> 

            <div class="ico">
              <a href="/xml/{{node.id}}/content/article/doaj" class="link" target="_blank" >
                <div class="file xml">
                </div>
                <div class="title">
                  <h3>XML DOAJ</h3>
                </div>
              </a>
            </div>

            <div class="ico">
              <a href="/xml/{{node.id}}/content/article/pubmed" class="link" target="_blank" >
                <div class="file xml">
                </div>
                <div class="title">
                  <h3>XML PubMed</h3>
                </div>
              </a>
            </div>

            {% for tabla in node.field_tablas %}
              {% set doc = tabla.entity.getFilename|split('.') %}
              <div class="ico">
                <a href="{{ file_url(tabla.entity.fileuri) }}" class="link" download title="{{ doc[0] }}">
                  <div class="file {{  doc[1] }}">
                  </div>
                  <div class="title">
                    <h3>{{ doc[0]|slice(0, 13) }}...</h3>
                  </div>
                </a>
              </div>
            {% endfor %}
          </div>

          {% if node.field_incluir_enlace.value == "si" %}
            <div class="item-news article-node cientifico"> 
              <div class="text">
                <div class="explorer">
                  <a href="{{ node.field_enlace_redireccion.uri }}" target="_blank" >{{ node.field_enlace_redireccion.title }}</a>
                </div>
              </div>              
            </div>
          {% endif %}

        </div>
        

      </div>
      
      <div class="right">

        <div class="content article">

          <div class="title large">
            <h2>{{ node.title.value|raw }}</h2>
          </div> 

          <div class="block resumen">
              <div class="title-block">
                  <h2> {{ "Summary"|t }}</h2>
                  <button class="btn-show-text active" data-id="resumen"> {{ "Close"|t }}</button>
              </div>
              <div class="box active">
                  <p>{{ node.field_resumen.value|raw }}</p>
              </div>
          </div>

          <div class="block introduccion">
              <div class="title-block">
                  <h2> {{ "Introduction"|t }}</h2>
                  <button class="btn-show-text active" data-id="introduccion"> {{ "close"|t }}</button>
              </div>
              <div class="box active">
                  <p>{{ node.field_introduccion.value|raw }}</p>
              </div>
          </div>

          <div class="block metodos">
              <div class="title-block">
                  <h2> {{ "Methods"|t }}</h2>
                  <button class="btn-show-text active" data-id="metodos">{{ "Close"|t }}</button>
              </div>
              <div class="box active">
                  <p>{{ node.field_metodos.value|raw }}</p>
              </div>
          </div>

          <div class="block resultados">
              <div class="title-block">
                  <h2> {{ "Results"|t }}</h2>
                  <button class="btn-show-text active" data-id="resultados">{{ "Close"|t }}</button>
              </div>
              <div class="box active">
                  <p>{{ node.field_resultado.value|raw }}</p>
              </div>
          </div>

          <div class="block conclusiones">
              <div class="title-block">
                  <h2> {{ "Conclusions"|t }}</h2>
                  <button class="btn-show-text active" data-id="reconclusiones"> {{ "Close"|t }}</button>
              </div>
              <div class="box active">
                  <p>{{ node.field_conclusion.value|raw }}</p>
              </div>
          </div>
     
          <div class="block referencias">
              <div class="title-block">
                  <h2>{{ "References"|t }}</h2>
                  <button class="btn-show-text" data-id="referencias">{{ "Close"|t }}</button>
              </div>
              <div class="box">
                {% for item in node.field_referencias %}
                    <div class="ref paragraph" id="paragraph-{{ item.target_id }}" data-paragraph="{{ item.target_id }}">
                      {{ drupal_entity('paragraph', item.target_id) }}
                    </div>
                {% endfor %}
              </div>
          </div>
      

        </div>
          

          <div class="popup node-article-cientifico ">
              <button id="close-reference">X</button>
              <div class="box"></div>
          </div>


      </div>
    
    </div><!-- /.container -->
    <div class="container">
        <div class="news related last_news"> 
            <div class="block-title">
                <h3>{{ "Scientific articles"|t }}</h3>
            </div>
            <dd>{{ drupal_view('articulos', 'block_1') }}</dd>
        </div>
    </div><!-- /.container -->
  </div><!-- /#main -->
</article><!-- /.node -->