<li>
    <span style="display: flex;">{{ content.field_nombre_completo }}</span>
    <span style="display: flex;">{{ content.field_titulo_academico }}</span>
    <span style="display: flex;">{{ content.field_institucion }}</span>
    <span style="display: flex;"><a href="mailto:{{ content.field_correo|striptags }}" style="color:#ffff">{{ content.field_correo }}</a></span>
    <span style="display: flex;">ORCID: <a href="{{ content.field_codigo_orcid|striptags }}" style="color:#ffff">{{ content.field_codigo_orcid }}</a></span>
</li>

