<li>
    <span style="display: flex;">{{ content.field_nombre_completo }}</span>
    <span style="display: flex;">{{ content.field_titulo_academico }}</span>
    <span style="display: flex;">{{ content.field_institucion }}</span>
    <span style="display: flex;">{{ content.field_correo }}</span>
    <span style="display: flex;">ORCID:{{ content.field_codigo_orcid }}</span>
</li>

