<main id="info-article">
    <h2>{{ 'My access'|t }}</h2>
    <div class="list-type">
        <div class="box-type">
            <div class="article active">
                <ul>
                    <li class="target">
                        <a href="/">
                            <img src="/themes/custom/basic/images/access/pagina-de-inicio.svg" alt="" title="" width="100">
                            <h3>{{ 'Home'|t }}</h3>
                        </a>
                    </li>
                    <li class="target">
                        <a href="/admin/structure/entityqueue/articulos_cientificos/articulos_cientificos">
                            <img src="/themes/custom/basic/images/access/cientifico.svg" alt="" title="" width="100">
                            <h3>{{ 'Show scientific articles'|t }}</h3>
                        </a>
                    </li>
                    <li class="target">
                        <a href="/admin/structure/taxonomy/manage/secciones/overview">
                            <img src="/themes/custom/basic/images/access/categoria.svg" alt="" title="" width="100">
                            <h3>Agregar secciones</h3>
                        </a>
                    </li>
                    <li class="target">
                        <a href="/admin/structure/taxonomy/manage/tags/overview">
                            <img src="/themes/custom/basic/images/access/etiqueta-seo.svg" alt="" title="" width="100">
                            <h3>{{ 'Add keywords'|t }}</h3>
                        </a>
                    </li>
                    

                    <li class="target">
                        <a href="/admin/manuscritos/list">
                            <img src="/themes/custom/basic/images/access/revision.svg" alt="" title="" width="100">
                            <h3>{{ 'Review in progress'|t }}</h3>
                        </a>
                    </li>

                    <li class="target">
                        <a href="/admin/manuscritos/list/review">
                            <img src="/themes/custom/basic/images/access/revision.svg" alt="" title="" width="100">
                            <h3>{{ 'My reviews'|t }}</h3>
                        </a>
                    </li>

                   
                    <li class="target">
                        <a href="/admin/manuscritos/author">
                            <img src="/themes/custom/basic/images/access/enviar-articulos.svg" alt="" title="" width="100">
                            <h3>{{ 'Articles sent'|t }}</h3>
                        </a>
                    </li>
                    <li class="target">
                        <a href="/new/type/manuscrito">
                            <img src="/themes/custom/basic/images/access/enviar-articulos.svg" alt="" title="" width="100">
                            <h3>{{ 'Submit Articles'|t }}</h3>
                        </a>
                    </li>
                </ul>
            </div>
        </div>    
    </div>
</main>