{% set roles = user.getroles(TRUE) %}

{% if data.status == '0'  %}
    {% if data is not null  %}
        {# flujo editores #}
        {% if 'editores' in user.getroles(TRUE) or 'administrator' in user.getroles(TRUE) %}
            <div class="tabs" style="text-align: center">
                <span>{{ 'My actions available as editor'|t }}</span>
                <ul class="tabs primary">
                    <li class="tabs__tab tabs__tab--active"><a href="{{ data.url }}" class="is-active">{{ 'Show'|t }}</a></li>
                    <li class="tabs__tab"><a href="{{ data.assign }}">{{ 'Assign'|t }}</a></li>
                    <li class="tabs__tab"><a href="{{ data.urlEdit }}">{{ 'Approve or Reject'|t }}</a></li>
                </ul>
            </div>
        {% endif %}

        {# flujo revisores #}
        {% if 'revisores' in user.getroles(TRUE) or 'administrator' in user.getroles(TRUE) %} 
            <div class="tabs" style="text-align: center">
                    <span>{{ 'My actions available as  revisor'|t }}</span>
                <ul class="tabs primary">
                    <li class="tabs__tab tabs__tab--active"><a href="{{ data.url }}" class="is-active">{{ 'Show'|t }}</a></li>
                    <li class="tabs__tab"><a href="{{ data.qualify }}">{{ 'Review and Rate'|t }}</a></li>
                </ul>
            </div>
        {% endif %}

        {# flujo autores #}
        {% if 'autores' in user.getroles(TRUE) or 'administrator' in user.getroles(TRUE) %} 
            {% if data.uid_autor %}
                <div class="tabs" style="text-align: center">
                    <span>{{ 'My actions available as  autor'|t }}</span>
                    <ul class="tabs primary">
                        <li class="tabs__tab tabs__tab--active"><a href="{{ data.url }}" class="is-active">{{ 'Show'|t }}</a></li>
                        <li class="tabs__tab"><a href="{{ data.urlEdit }}">{{ 'Modify article'|t }}</a></li>
                    </ul>
                </div>
            {% endif %}
        {% endif %}
    {% endif %}
{% endif %}