<main id="info-article" class="record">
    <h2>{{ 'Historial del artículo '|t }} "{{ article }} - {{ id }}"</h2>
    <a href="{{ url }}">{{ 'Ir al artículo' }}</a>
    <div class="list-type">
        <div class="box-type revision">  

            {% if node != NULL %}
                <div class="article box-article active">
                    <div class="action-box">
                        <h4>{{ 'Verificación rápida' }}</h4>
                        <button data-id="box-article" class="btn-show-text record">cerrar</button>
                    </div>
                    <div class="box box-article active">
                        <table class="tg">
                            <tbody>
                                <tr>
                                    <td class="tg-cly1">{{ 'Article id'|t }}:<br></td>
                                    <td class="tg-nrix" colspan="3">{{ node.id }}</td>
                                </tr>
                                <tr>
                                    <td class="tg-cly1">{{ 'Cession of rights'|t }}:<br></td>
                                    <td class="tg-nrix" colspan="3">
                                        <a href="{{ node.cesionDerechos }}" target="_blank" download>{{ 'Download' }}</a>
                                    </td>
                                </tr>
                                <tr>
                                    <td class="tg-cly1">{{ 'Editor'|t }}:<br></td>
                                    <td class="tg-nrix" colspan="3">{{ node.editor.name_author }}</td>
                                </tr>
                                <tr>
                                    <td class="tg-cly1">{{ 'Article status'|t }}:<br></td>
                                    <td class="tg-nrix" colspan="3">{{ node.decision }}</td>
                                </tr>
                                <tr>
                                    <td class="tg-cly1">{{ '¿All comments were sent to the author?'|t }}:<br></td>
                                    <td class="tg-nrix" colspan="3">{{ node.sendComment }}</td>
                                </tr>
                                <tr>
                                    <td class="tg-cly1">{{ 'Editor's final comment'|t }}:<br></td>
                                    <td class="tg-nrix" colspan="3">{{ node.commentEnd }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            {% endif %}   

            {% if arrNodesCommentToAutor != NULL %}
                <div class="article box-comment-autor active">
                    <div class="action-box">
                        <h4>{{ 'Comments made by editors to authors'|t }}</h4>
                        <button data-id="box-comment-autor" class="btn-show-text record">cerrar</button>
                    </div>
                    <div class="box box-comment-autor active">
                        {% for item in arrNodesCommentToAutor %}
                            <table class="tg">
                                <tbody>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Comment Id'|t }}:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.id }}</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Editor'|t }}:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.author.name_author }}</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Date'|t }}:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.created }}</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Comments'|t }}:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.comment }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if arrNodesCommentToEditor != NULL %}
                <div class="article box-comment-editor active">
                    <div class="action-box">
                        <h4>{{ 'Comments made by reviewers to the editor'|t }}</h4>
                        <button data-id="box-comment-editor" class="btn-show-text record">cerrar</button>
                    </div>
                    <div class="box box-comment-editor active">
                        {% for item in arrNodesCommentToEditor %}
                            <table class="tg">
                                <tbody>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Comment Id'|t }}:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.id }}</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Revisor'|t }}:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.author.name_author }}</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Date'|t }}:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.created }}</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Comments'|t }}:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.comment }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if arrNodesRevision != NULL %}
                <div class="article box-revision active">
                    <div class="action-box">
                        <h4>{{ 'Qualification of article' }}</h4>
                        <button data-id="box-revision" class="btn-show-text record">cerrar</button>
                    </div>
                    <div class="box box-revision active">
                        {% for item in arrNodesRevision %}
                            <table class="tg">
                                <tbody>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Qualification Id'|t }}:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.id }}</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Date'|t }}:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.created }}</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Revisor'|t }}:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.author.name_author }}</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Question'|t }} #1:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.question_1 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Question'|t }} #2:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.question_2 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Question'|t }} #3:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.question_3 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Question'|t }} #4:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.question_4 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Question'|t }} #5:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.question_5 }}</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Average'|t }}:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.promedio }}</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Decision'|t }}:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.decision }}</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Reviewer Comments'|t }}:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.comentario }}</td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}

            {% if arrNodesAsign != NULL %}
                <div class="article box-revisores active">
                    <div class="action-box">
                        <h4>{{ 'Assigned reviewers' }}</h4>
                        <button data-id="box-revisores" class="btn-show-text record">cerrar</button>
                    </div>
                    <div class="box box-revisores active">
                        {% for item in arrNodesAsign %}
                            <table class="tg">
                                <tbody>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Assignment id'|t }}:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.id }}</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Date'|t }}:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.created }}</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Reviewer'|t }}:<br></td>
                                        <td class="tg-nrix" colspan="3">{{ item.revisor.name_author }}</td>
                                    </tr>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Respuesta de la asignación'|t }}:<br></td>
                                        <td class="tg-nrix" colspan="3">
                                            {% if item.response == 'noResponse' %}
                                                {{ 'No response from the reviewer'|t }}
                                            {% else %}
                                                {{ item.response }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tg-cly1">{{ 'Reply date'|t }}:<br></td>
                                        <td class="tg-nrix" colspan="3">
                                            {% if item.response == 'noResponse' %}
                                              
                                            {% else %}
                                                {{ item.dateResponse }}
                                            {% endif %}
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        {% endfor %}
                    </div>
                </div>
            {% endif %}
        </div>    
    </div>
</main>

<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-cly1{text-align:left;vertical-align:middle}
    .tg .tg-nrix{text-align:center;vertical-align:middle}
</style>