<main id="info-article">
    <h2> {{ 'Historial de revisiones'|t }} </h2>
    <div class="list-type">
        <div class="search">
            <input type="search" name="search-article-history" id="search-article-history" placeholder="{{ 'Buscar artículo'|t }}" onkeyup="searchRevision(this.value)">
        </div>
        <div class="box-type revision">           
            <div class="article active">
                {% for item in data %}
                    <table class="tg">
                        <tbody>
                            <tr>
                                <td class="tg-cly1">{{ 'Título'|t }}:<br></td>
                                <td class="tg-nrix" colspan="3">
                                    <a href="{{ item.url }}" hreflang="es">{{ item.title }}</a>
                                </td>
                            </tr>
                            <tr>
                                <td class="tg-cly1">{{ 'Tipo'|t }}:<br></td>
                                <td class="tg-nrix" colspan="3">{{ item.type }}</td>
                            </tr>
                            <tr>
                                <td class="tg-cly1">{{ 'Autor'|t }}:</td>
                                <td class="tg-nrix" colspan="3">
                                    <a href="{{ item.autor.uri }}" hreflang="es">{{ item.autor.name_author }}</a>
                                </td>
                            </tr>
                            {% if type != 'created' %}
                                <tr>
                                    <td class="tg-cly1">{{ 'Estado'|t }}:</td>
                                    <td class="tg-nrix" colspan="3">{{ item.status }}</td>
                                </tr>
                            {% endif %}
                            <tr>
                                <td class="tg-cly1">{{ 'Recibido el día'|t }}:</td>
                                <td class="tg-nrix" colspan="3">{{ item.date }}</td>
                            </tr>
                            <tr>
                                <td class="tg-cly1">{{ 'Actualizado el día'|t }}:</td>
                                <td class="tg-nrix" colspan="3">{{ item.update }}</td>
                            </tr>
                            <tr>
                                <td class="tg-cly1">{{ 'Publicado el día'|t }}:</td>
                                <td class="tg-nrix" colspan="3">{{ item.publish }}</td>
                            </tr>
                            {% if type != 'created' %}
                                <tr>
                                    <td class="tg-nrix" colspan="4">{{ 'Acciones'|t }}</td>
                                </tr>
                                <tr>
                                    <td class="tg-nrix">
                                        <a href="{{ item.url }}" target="_blank"> {{ 'Ver'|t }} </a>
                                    </td>
                                    <td class="tg-nrix">
                                        <a href="{{ item.assign }}"> {{ 'Asignar'|t }} </a>
                                    </td>
                                    <td class="tg-nrix">
                                        <a href=""> {{ 'Aprobar'|t }}/{{ 'Rechazar'|t }} </a>
                                    </td>
                                    <td class="tg-nrix">
                                        <a href="{{ item.comments_autor }}"> {{ 'Comentarios para autor'|t }} </a>
                                    </td>
                                </tr>
                            {% endif %}
                        </tbody>
                    </table>
                {% endfor %}
            </div>
        </div>    
    </div>
</main>
<script>
    $('.launcher-box-message').removeClass('active');
</script>
<style type="text/css">
    .tg  {border-collapse:collapse;border-spacing:0;}
    .tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
    font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
    .tg .tg-cly1{text-align:left;vertical-align:middle}
    .tg .tg-nrix{text-align:center;vertical-align:middle}
</style>