<main id="info-article">
    <h2>Nuevo artículo recibido</h2>
    <div class="list-type">

        <div class="box-type">           
            <div class="article active">
                <ul>
                    <li class="target" style="width: calc(73.3% - 30px);">
                        <p><b>GLOBAL RHEUMATOLOGY</b> {{ 'thanks you for submitting your article titled'|t }}  </br> "<b>{{ drupal_field('title', 'node', id) }}</b>" {{ 'which was successfully saved on our platform. One of our reviewers will initiate the verification process of the received article. Please check your email periodically in which notifications relevant to the review process will be sent'|t }}</p>
                        <h3>
                            <a href="{{ path('entity.node.canonical', {'node': id}) }}">{{ 'Show article' }}</a>
                        </h3>
                    </li>                  
                </ul>
            </div>
        </div>    
    </div>
</main>