<main id="info-article">
    <h2>{{ 'Select the article type' }}</h2>
    <div class="list-type">
        <div class="option">
            <ul>
                <li class="target active" id="article">
                    <img src="/themes/custom/basic/images/article_tipo/articulo.svg" width="100">
                    <h2>{{ 'Scientists'|t }}</h2>
                </li>
                <li class="target" id="magazine">
                    <img src="/themes/custom/basic/images/article_tipo/magazine.svg" width="100">
                    <h2>{{ 'Magazine'|t }}</h2>
                </li>
            </ul>
        </div>

        <div class="box-type">
            <div class="article active">
                <ul>
                    <p style="text-align: justify;">{{ 'Global Rheumatology will publish articles of relevance to the practicing clinician in the following sections: Original article, Review, Mini review, Short articles, Comments and quick responses Case report, Letter to the editor'|t }}</p>
                    <li class="target" data-type="editorial" data-node="170">
                        <img src="/themes/custom/basic/images/article_tipo/articulo-editorial.svg" alt="" title="" width="100">
                        <h3>{{ 'Editorial'|t }}</h3>
                    </li>
                    <li class="target" data-type="articulo_original" data-node="169">
                        <img src="/themes/custom/basic/images/article_tipo/articulo.svg" alt="" title="" width="100">
                        <h3>{{ 'Original article'|t }}</h3>
                    </li>
                    <li class="target" data-type="articulo_revision" data-node="171">
                        <img src="/themes/custom/basic/images/article_tipo/revision.svg" alt="" title="" width="100">
                        <h3>{{ 'Review article'|t }}</h3>
                    </li>
                    <li class="target" data-type="mini_revision" data-node="172">
                        <img src="/themes/custom/basic/images/article_tipo/mini-revision.svg" alt="" title="" width="100">
                        <h3>{{ 'Mini Review'|t }}</h3>
                    </li>
                    <li class="target" data-type="rondas_clinicas" data-node="174">
                        <img src="/themes/custom/basic/images/article_tipo/ronda-clinica.svg" alt="" title="" width="100">
                        <h3>{{ 'Clinical Rounds'|t }}</h3>
                    </li>
                    <li class="target" data-type="comentarios_respues" data-node="173">
                        <img src="/themes/custom/basic/images/article_tipo/comentarios.svg" alt="" title="" width="100">
                        <h3>{{ 'Comments and Responses'|t }}</h3>
                    </li>
                    <li class="target" data-type="articulo_especial" data-node="175">
                        <img src="/themes/custom/basic/images/article_tipo/article-especial.svg" alt="" title="" width="100">
                        <h3>{{ 'Special article'|t }}</h3>
                    </li>
                </ul>
            </div>
            <div class="magazine">
                
                {% set roles = user.getroles(TRUE) %}
                    <ul>
                        <p style="text-align: justify;">{{ 'Global Rheumatology will publish content accessible to all types of public in sections called: Panlar Science, Special Reports, Columns, Multimedia, Infographics, Podcast, VideoBlog, Microlearning and News. To send your proposal to this section, you must contact the editorial team through the following email'|t }} <a href="mailto:magazine@globalrheumpanlar.org">magazine@globalrheumpanlar.org</a> </p>
                        {% if ('administrator' in roles) or ('revisores' in roles) or ('editores' in roles) or ('autor_magazine' in roles) %}
                            <li class="target" data-type="ciencia_panlar" data-node="176">
                                <img src="/themes/custom/basic/images/article_tipo/ciencia.svg" alt="" title="" width="100">
                                <h3>{{ 'Ciencia Panlar'|t }}</h3>
                            </li>
                            <li class="target" data-type="reportajes_especiales" data-node="177">
                                <img src="/themes/custom/basic/images/article_tipo/reportaje.svg" alt="" title="" width="100">
                                <h3>{{ 'Special report'|t }}</h3>
                            </li>
                            <li class="target" data-type="multimedia" data-node="178">
                                <img src="/themes/custom/basic/images/article_tipo/multimedia.svg" alt="" title="" width="100">
                                <h3>{{ 'Multimedia'|t }}</h3>
                            </li>
                            <li class="target" data-type="noticia" data-node="179">
                                <img src="/themes/custom/basic/images/article_tipo/noticia.svg" alt="" title="" width="100">
                                <h3>{{ 'News'|t }}</h3>
                            </li>
                            <li class="target" data-type="columnas" data-node="192">
                                <img src="/themes/custom/basic/images/article_tipo/reportaje.svg" alt="" title="" width="100">
                                <h3>{{ 'Columns'|t }}</h3>
                            </li>
                        {% endif %}
                    </ul>
            </div>
        </div>    
    </div>

    <aside class="live-box">
        <div class="box">
            <button class="close">X</button>
            <div class="data scroll"> <!--Scroll en css para este div-->
                <h2></h2>
                <div class="info">
                    <p class="guia">{{ 'Loading'|t }}...</p>
                    <p class="complete"><a href="/guia-para-autores/159" target="_blank">{{ 'See full guide'|t }}</a></p>
                </div>
            </div>
            <a href="" class="link">{{ 'continue'|t }}</a>
        </div>
    </aside>
</main>