<main id="info-article">
    <h2>Artículo en revisión</h2>
    <div class="list-type">

        <div class="box-type">           
            <div class="article active">
                <ul>
                    <li class="target" style="width: calc(73.3% - 30px);">
                        <p>{{ 'The article'|t }} "<b>{{ drupal_field('title', 'node', id) }}</b>" {{ 'It is still in the review process, remember that you can only modify it when the article has the status assigned'|t }} <b>"{{ 'Accepted with conditions'|t }}"</b>. <b>{{ drupal_field('field_estado_del_articulo', 'node', id) }}</b> </p>
                        <h3>
                            <a href="{{ path('entity.node.canonical', {'node': id}) }}">{{ 'Go to article'|t }}</a>
                        </h3>
                    </li>                  
                </ul>
            </div>
        </div>    
    </div>
</main>